.heroContainer {
  position: relative;
  height: 67.59vh;
  min-height: 350px;
  /* We apply multiple backgrounds. The gradient will be on top of the image. */
  background-image:
    linear-gradient(to top, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 0) 20%),
    url('/assets/media/bg-about-rsui-new.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* .heroContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(21, 76, 152, 0.85) 0%,
    rgba(28, 101, 201, 0.5) 50%,
    rgba(0, 212, 255, 0) 100%
  );
  z-index: 1;
} */

.heroContent {
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  padding-left: clamp(1rem, 10vw, 8rem);
  padding-bottom: clamp(1rem, 5vh, 3rem);
}

@media (max-width: 425px) {
  .heroContent {
    padding-left: 0;
  }
}

/* .heroLogo {
  width: clamp(200px, 25vw, 300px);
  height: auto;
  margin-bottom: 0.5rem;
} */

.heroTagline {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--mantine-color-dark-0);
}
